.main-container {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #1b3a59);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;

}

h1 {
    font-family: Playpen Sans;
    font-style: italic;
    font-size: 40px;
    color: black;
    text-align: center;
    opacity: 0.8;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 30px 30px;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: #881288;
    color: white;
}

button {
    background-color: beige;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Playpen Sans;
    opacity: 0.6;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}